.description-project {
    .project-img {
        width: 100%;
        height: auto;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        margin-bottom: 45px;
    }
    .phone-screenshot {
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}
